<!-- with contact.php-->
 
<form action="contact.php" method="post" role="form" class="php-email-form" ata-aos="fade-up" data-aos-delay="400" data-recaptcha-site-key="6Le44oQqAAAAAAwsntDYFsNqoLm6_khx4VC7KH2z">
    <div class="row gy-4">

      <div class="col-md-6">
        <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
      </div>

      <div class="col-md-6 ">
        <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
      </div>

      <div class="col-md-12">
        <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
      </div>

      <div class="col-md-12">
        <textarea class="form-control" name="message" rows="4" placeholder="Message" required=""></textarea>
      </div>

      <div class="form-group mt-3">
        <input class="form-control" type="file" name="resume">
      </div>

      <div class="col-md-12 text-center">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>

        <button type="submit">Send Message</button>
      </div>
    </div>
  </form>
